<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<head>
		<title>
			Concessionario Macale - Aggiungi
		</title>
		<link rel="stylesheet" href="/css/stile.css?version=2" />
	</head>
	
	<body>
        <header>
			<table id="table-header">
				<tr class="header">
					<td style="width:5%">
						<a class="header" href="/admin/aggiungi"><img class="header" src="/immagini/pulsanti/indietro.png"/></a>
					</td>
					<td style="width:90%">
						<h1 class="header">Concessionario Macale</h1>
					</td>
					<td style="width:5%">
						<a class="header" href="/logout"><img class="header" src="/immagini/pulsanti/profiloAdmin.png"/></a>
					</td>
				</tr>
			</table>
		</header>
          
        <article>
          
          
         <section>
           <p class="obbligatorio"><sup>*</sup>: Campo obbligatorio</p>
           <form th:action="@{/admin/macchine}" method="POST">
				<fieldset>
				   <h2> Modello </h2>
					<table>
						<tr>
							<td style="width: 20%">
								<p>Fabbrica<sup>*</sup>:</p>
							</td>
							<td style="width: 60%">
								<p><input type="text" name="fabbrica" placeholder="Fabbrica"/></p>
							</td>
						</tr>
						<tr>
							<td style="width: 20%">
								<p>Nome<sup>*</sup>:</p>
							</td>
							<td style="width: 60%">
								<p><input type="text" name="nome" placeholder="Nome"/></p>
							</td>
						</tr>
						<tr>
							<td style="width: 20%">
								<p>Posti<sup>*</sup>:</p>
							</td>
							<td style="width: 60%">
								<p><input type="text" name="posti" placeholder="Posti"/></p>
							</td>
						</tr>
						<tr>
							<td style="width: 20%">
								<p>Cilindrata<sup>*</sup>:</p>
							</td>
							<td style="width: 60%">
								<p><input type="text" name="cilindrata" placeholder="Cilindrata"/></p>
							</td>
						</tr>
						<tr>
							<td style="width: 20%">
								<p>Cavalli<sup>*</sup>:</p>
							</td>
							<td style="width: 60%">
								<p><input type="text" name="cavalli" placeholder="Cavalli"/></p>
							</td>
						</tr>
					</table>
				</fieldset>
			   <p style="height: 1%"></p>
			   <fieldset>
				   <h2> Veicolo </h2>
				   <table>
					   <tr>
						   <td style="width: 20%">
							   <p>Telaio<sup>*</sup>:</p>
						   </td>
						   <td style="width: 60%">
							   <p><input type="text" name="telaio" placeholder="Telaio"/></p>
						   </td>
					   </tr>
					   <tr>
						   <td style="width: 20%">
							   <p>Anno<sup>*</sup>:</p>
						   </td>
						   <td style="width: 60%">
							   <p><input type="text" name="anno" placeholder="Anno"/></p>
						   </td>
					   </tr>
					   <tr>
						   <td style="width: 20%">
							   <p>Targa:</p>
						   </td>
						   <td style="width: 60%">
							   <p><input type="text" name="targa" placeholder="Targa"/></p>
						   </td>
					   </tr>
					   <tr>
						   <td style="width: 20%">
							   <p>Colore<sup>*</sup>:</p>
						   </td>
						   <td style="width: 60%">
							   <p><input type="text" name="colore" placeholder="Colore"/></p>
						   </td>
					   </tr>
					   <tr>
						   <td style="width: 20%">
							   <p>Prezzo:</p>
						   </td>
						   <td style="width: 60%">
							   <p><input type="text" name="prezzo" placeholder="Prezzo"/></p>
						   </td>
					   </tr>
					   <tr>
						   <td style="width: 20%">
							   <p>Cambio<sup>*</sup>:</p>
						   </td>
						   <td style="width: 60%">
							   <p>
								   <select name="cambio">
									   <option value=""> </option>
									   <option value="Manuale">Manuale</option>
									   <option value="Automatico">Automatico</option>
								   </select>
							   </p>
						   </td>
					   </tr>
				   </table>
			   </fieldset>
			   <p style="height: 1%"></p>
			   <fieldset>
				<h2> Alimentazione </h2>
				   <p>
					Motorizzazione:<sup>*</sup>
				
					<select name="carburante" id="lang">

	        			<option value="Benzina">Benzina</option>
				        <option value="Gasolio">Gasolio</option>
				        <option value="GPL">GPL</option>
				        <option value="Ibrida">Ibrida</option>
				        <option value="Elettrica">Elettrica</option>
	     			</select>
     				</p>
			   </fieldset>
			   <p><button type="submit">INSERISCI</button></p>
			   <div th:object="${modello}">
				   <ul th:if="${#fields.hasGlobalErrors()}">
					   <p style="color: red">Errori modello:</p>
					   <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">
						   ...
					   </li>
				   </ul>
			   </div>
			   <div th:object="${veicolo}">
				   <ul th:if="${#fields.hasGlobalErrors()}">
					   <p style="color: red">Errori veicolo:</p>
					   <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">
						   ...
					   </li>
				   </ul>
			   </div>
		   </form>

          </section>
          
          <footer>
			  <p class="fine">Creato da: Andrea Macale (matr. 560793)</p>
		  </footer>
          
      </article>
	</body>		
</html>