<!DOCTYPE html>
<html>
<head>
    <title>
        Concessionario Macale - Prenotazione
    </title>
    <link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
<header>
    <table id="table-header">
        <tr class="header">
            <td style="width:5%">
                <a class="header" href="/admin/opzioni"><img class="header" src="/immagini/pulsanti/indietro.png"/></a>
            </td>
            <td style="width:90%">
                <h1 class="header">Concessionario Macale</h1>
            </td>
            <td style="width:5%">
                <a class="header" href="/logout"><img class="header" src="/immagini/pulsanti/profiloAdmin.png"/></a>
            </td>
        </tr>
    </table>
</header>

<article>


    <section>
        <span th:if="${utente}">
            <h2>Utente: </h2>
            <p>
                <b>Nome:</b> <span th:text="*{utente.nome}">nome</span>
            </p>
            <p>
                <b>Cognome:</b> <span th:text="*{utente.cognome}">cognome</span>
            </p>
            <p>
                <b>Data di nascita:</b> <span th:text="*{utente.dataNascita}">data</span>
            </p>
            <p>
                <b>Email:</b> <span th:text="*{utente.email}">email</span>
            </p>
        </span>
    </section>

    <footer>
        <p class="fine">Creato da: Andrea Macale (matr. 560793)</p>
    </footer>

</article>
</body>
</html>