<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>
        Concessionario Macale - Login
    </title>
    <link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
<header>
    <table id="table-header">
        <tr class="header">
            <td style="width:5%">
                <a class="header" href="/"><img class="header" src="/immagini/pulsanti/indietro.png"/></a>
            </td>
            <td style="width:90%">
                <h1 class="header">Concessionario Macale</h1>
            </td>
            <td style="width:5%">
                <p class="header"></p>
            </td>
        </tr>
    </table>
</header>

<article>


    <section>
        <form th:action="@{/register}" method="POST">
            <p class="obbligatorio"><sup>*</sup>: Campo obbligatorio</p>
            <fieldset>
            <h2>Utente</h2>

                <table>
                    <tr>
                        <td style="width: 20%">
                            <p>Nome<sup>*</sup>:</p>
                        </td>
                        <td style="width: 60%">
                            <p><input type="text" placeholder="Nome"  th:field="${utente.nome}"/></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <p>Cognome<sup>*</sup>: </p>
                        </td>
                        <td style="width: 60%">
                            <p><input type="text" placeholder="Cognome"  th:field="${utente.cognome}"/></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <p>Data di nascita<sup>*</sup>:</p>
                        </td>
                        <td style="width: 60%">
                            <p><input type="date" placeholder="Data di nascita"  th:field="${utente.dataNascita}"/></p>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <p style="height: 1%"></p>
            <fieldset>
                <h2>Credenziali</h2>
                <table>
                    <tr>
                        <td style="width: 20%">
                            <p>Email<sup>*</sup>:</p>
                        </td>
                        <td style="width: 60%">
                            <p><input type="text" placeholder="Email" th:field="${credenziali.username}"/></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <p>Password<sup>*</sup>: </p>
                        </td>
                        <td style="width: 60%">
                            <p><input type="password" placeholder="Password"  th:field="${credenziali.password}"/></p>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <p><button type="submit">REGISTRATI</button></p>
            <div th:object="${utente}">
                <ul th:if="${#fields.hasGlobalErrors()}">
                    <p style="color: red">Errori utente:</p>
                    <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                        ...
                    </li>
                </ul>
            </div>
            <div th:object="${credenziali}">
                <ul th:if="${#fields.hasGlobalErrors()}">
                    <p style="color: red">Errori credenziali:</p>
                    <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                        ...
                    </li>
                </ul>
            </div>
        </form>

    </section>

    <footer>
        <p class="fine">Creato da: Andrea Macale (matr. 560793)</p>
    </footer>

</article>
</body>
</html>