<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<meta charset="utf-8">
	<head>
		<title>
			Concessionario Macale - Cerca
		</title>
		<link rel="stylesheet" href="/css/stile.css?version=2" />
	</head>
	
	<body>
        <header>
			<table id="table-header">
				<tr class="header">
						<td style="width:5%">
							<a class="header" href="/homepage"><img class="header" src="/immagini/pulsanti/indietro.png"/></a>
						</td>
					<td style="width:90%">
						<h1 class="header">Concessionario Macale</h1>
					</td>
					<td style="width:5%">
						<span th:unless="${userDetails}">
								<a class="header" href="/login">Accedi</a>
							</span>
						<span th:if="${userDetails}">
							   <a class="header" href="/logout"><img class="header" src="/immagini/pulsanti/profilo.png"/></a>
						</span>
					</td>
				</tr>
			</table>
		</header>
          
        <article>
          
          
         <section>
			   <form th:action="@{/cercaMacchine}" method="POST">
				   <h2 align="center"> Macchina da cercare </h2>
				   <fieldset>
					   <div style="margin-left: 35%">
						   <p>
							   Fabbrica: <input type="text" name="fabbrica"  placeholder="Fabbrica"/>
						   </p>
						   <p>
							   Nome: <input type="text" name="nome" placeholder="Nome"/><br>
						   </p>
					   </div>
				   </fieldset>
				   <fieldset>
					   <div style="margin-left: 35%">
						   <p>
							   Colore: <input type="text" name="colore" placeholder="Colore"/>
						   </p>
						   <p>
							   Cambio:
							   <select name="cambio">
								   <option value=""> </option>
								   <option value="Manuale">Manuale</option>
								   <option value="Automatico">Automatico</option>
							   </select>
						   </p>
						   <p>
							   Carburante:
							   <select name="carburante">
								   <option value=""> </option>
								   <option value="Benzina">Benzina</option>
								   <option value="Gasolio">Gasolio</option>
								   <option value="GPL">GPL</option>
								   <option value="Ibrida">Ibrida</option>
								   <option value="Elettrica">Elettrica</option>
							   </select>
						   </p>
						   <p>
							   Cambio:
							   <select name="cambio">
								   <option value=""> </option>
								   <option value="Manuale">Manuale</option>
								   <option value="Automatico">Automatico</option>
							   </select>
						   </p>
					   </div>
				   </fieldset>
				   <fieldset>
					   <div style="margin-left: 35%">
						   <p>
							   Prezzo: da
							   <select name="prezzoMinimo">
								   <option value="">Qualsiasi</option>
								   <option value="2000">€2.000</option>
								   <option value="3000">€3.000</option>
								   <option value="6500">€6.500</option>
								   <option value="10000">€10.000</option>
							   </select>
							   a
							   <select name="prezzoMassimo">
								   <option value="">Qualsiasi</option>
								   <option value="4000">€4.000</option>
								   <option value="6000">€6.000</option>
								   <option value="10000">€10.500</option>
								   <option value="50000">€50.000</option>
							   </select>

						   </p>
						   <p>
							   Auto da ricercare:
							   <select name="venduta">
								   <option value="">Tutte</option>
								   <option value="false">Solo quelle disponibili</option>
							   </select>
						   </p>
							<p>
							   Ordina per:
							   <select name="ordinamento">
								   <option value="v.anno">Anno</option>
								   <option value="v.prezzo">Prezzo</option>
							   </select>

							   <select name="tipo">
								   <option value="DESC">decrescente</option>
								   <option value="ASC">crescente</option>
							   </select>
						   </p>
					   </div>
				   </fieldset>
					   <p><button style="margin-left: 48%" type="submit">CERCA</button></p>
			   </form>
          </section>
          
          <footer>
			  <p class="fine">Creato da: Andrea Macale (matr. 560793)</p>
		  </footer>
          
      </article>
	</body>		
</html>