<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<head>
		<title>
			Concessionario Macale - Homepage
		</title>
		<link rel="stylesheet" href="/css/stile.css?version=2" />
	</head>
	
	<body>
        <header>
			<table id="table-header">
				<tr class="header">
					<td style="width:5%">
						<a class="header" href="/"><img class="header" src="/immagini/pulsanti/indietro.png"/></a>
					</td>
					<td style="width:90%">
						<h1 class="header">Concessionario Macale</h1>
					</td>
					<td style="width:5%">
						<span th:unless="${userDetails}">
							<a class="header" href="/login">Accedi</a>
						</span>
						<span th:if="${userDetails}">
							<a class="header" href="/logout"><img class="header" src="/immagini/pulsanti/profilo.png"/></a>
						</span>
					</td>
				</tr>
			</table>
		</header>
          
        <article>
          
          
         <section>
           <div id="flex-opzioni">
			   <div class="opzioni">
				  <a href="/formCercaMacchine"><img class="opzioni" src="/immagini/pulsanti/cerca.png"/></a> 
			   </div>
			   <div th:unless="${userDetails}" class="opzioni">
				   <img class="opzioni" src="/immagini/pulsanti/prenotazioneBW.png"/>
			   </div>
			   <div th:if="${userDetails}" class="opzioni">
				   <a href="/prenota"><img class="opzioni" src="/immagini/pulsanti/prenotazione.png"/></a>
			   </div>
		   </div>
          </section>

          
          <footer>
			  <p class="fine">Creato da: Andrea Macale (matr. 560793)</p>
		  </footer>
          
      </article>
	</body>		
</html>